.App {
  text-align: center;
}

.signup-div {
  /* margin: 2% 0; */
  height: 100vh;
}
.error {
  color: crimson;
  font-size: 0.6rem;
  margin: 0;
}

.app-bar {
  /* background-color: #2B6CB0; */
  padding: 4% 0;
  color: #2B6BB0;
  /* border-radius: 25px 25px 0 0; */
  font-size: 1.3rem;
  font-family: 'Cabin', sans-serif;
}


form {
  margin: 0 10%;
  /* height: 40vh; */
}

.form-login{
  margin-top: 70px;
}

.form-info {
  margin: auto;
  background-color: white;
  border-radius: 25px 25px 0 0;
  width: 100%;
  /* box-shadow: 2px 3px 5px #888888; */
  height: 520px;
}

 .password-icon-signup {
  color: #949494;
  cursor: pointer;
  position: relative;
  top: -25px;
  left: 165px;
}

.password-icon-login {
  color: #949494;
  cursor: pointer;
  position: relative;
  top: -25px;
  left: 135px;
}

.form-graphics {
  background-color: #ECF8FF;
  background-image: url('./images/landing-hero.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 10%;  
  /* box-shadow: 2px 3px 5px #888888; */
  width: 100%;
  margin: auto;
  /* border-radius: 0 0 25px 25px; */
  height: 35vh;

}

.form-graphics p {
  margin: auto;
  width: 70%;
  padding-top: 40px;
  color: #2B6CB0;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  line-height: 2rem;
}

.form-graphics p span {
  color: #4FD1C5;
}

.label {
  align-items: left;
}
.legal {
  padding-top: 20px;
}

.member-login {
  position: relative;
  top: 20px;
}

.login-signup-here {
  position: relative;
  top: 95px;
}

button {
  padding: 15px 150px;
  border-radius: 5px;
  border: 1px solid #2B6BB0;
  color: white;
  background-color: #2B6BB0;
  box-shadow: 2px 3px 5px #888888;
  font-weight: 700;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  padding: 15px 150px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  color: #A6A6A6;
  background-color: #E0E0E0;
  box-shadow: none;
  font-weight: 700;
  cursor: auto;
}

.signup-btn {
  position: relative;
  top: 30px;
}

.login-btn {
  position: relative;
  top: 70px;
}

.home-btn {
  padding: 15px 50px;
  border-radius: 5px;
  border: 1px solid #2B6BB0;
  color: white;
  background-color: #2B6BB0;
  box-shadow: 2px 3px 5px #888888;
  font-weight: 700;
  cursor: pointer;
}

.cards-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cards {
  border-radius: 10px;
  box-shadow: 0px 5px 20px gray;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  width: 425px;
}

/*MEDIUM SCREENS*/
@media only screen and (max-width: 1023px) and (min-width: 501px) {
  /* body {
    background-color: yellow;
  } */
  .app-bar {
       font-size: 1.8rem;
    font-family: 'Cabin', sans-serif;
  }
  .signup-div {
    width: 500px;
    margin: auto;
  }
   .password-icon-signup {
    color: #949494;
    cursor: pointer;
    position: relative;
    top: -25px;
    left: 165px;
  }
  
  .password-icon-login {
    color: #949494;
    cursor: pointer;
    position: relative;
    top: -25px;
    left: 135px;
  }
  

}

/*WIDEST SCREEN*/
@media only screen and (min-width: 1024px) {
 
  /* body {
    background-color: green;
  } */
  .password-icon-signup {
    color: #949494;
    cursor: pointer;
    position: relative;
    top: -25px;
    left: 165px;
    
  }
  
  .password-icon-login {
    color: #949494;
    cursor: pointer;
    position: relative;
    top: -25px;
    left: 165px;
  }

  .app-bar {
    margin: 0;
    border-radius: 25px 0 0 0;
  }
  
  .signup-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px;
    margin: auto;
    padding: 5% 0;
  }

  .form-info {
    background-color: white;
    width: 500px;
    border-radius: 25px 0 0 25px;
    box-shadow: 2px 3px 5px #888888;
    height: 600px;
  }
  
  .form-graphics {
    background-color: #ECF8FF;
    background-image: url('./images/landing-hero.png');
    background-repeat: repeat;
    background-size: cover;
    width: 450px;
    border-radius: 0 25px 25px 0;
    box-shadow: 2px 3px 5px #888888;
    height: 600px;
    margin: 0;
  }
  
  .form-graphics p {
    position: relative;
    top: 345px;
    color: #2B6CB0;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: left;
    line-height: 2.5rem;
  }
  
  .legal {
    margin: 20px 0 0 0;
  }
  
  .member-login {
    position: relative;
    top: 20px;
  }

  .login-btn {
    position: relative;
    top: 90px;
  }

  .login-signup-here {
    position: relative;
    top: 105px;
  }
}
